<% # メインメニューの見出し %>
<h1>メインメニュー</h1>

<% # TO-DO：今ログインしているユーザーの名前を歓迎メッセージに表示（後でセッション機能追加後に修正予定） %>
<p>ようこそ！単語帳アプリケーションへ。</p>

<ul>
  <li><%= link_to "問題出題", "#" %></li>
  <li><%= link_to "単語検索・登録・削除・修正", "#" %></li>
  <li><%= link_to "ランキング", "#" %></li>
</ul>