<footer class="footer mt-auto py-3 bg-light border-top">
  <div class="container text-center">
    <% # Copyright %>
    <span class="text-muted">© 2026 Word App - Learning Management System</span>
  </div>
</footer>